* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    font-weight: 200;
    font-style: normal;
    box-sizing: border-box;
}

body   {
    background: linear-gradient(1deg, hsla(233, 100%, 90%, 1) 0%, hsla(0, 0%, 89%, 1) 100%);
    background-size: cover;
    background-position: fixed;
    padding-top:25px;
    border-radius:15px 15px 0px 0px;
    
}

.divgrid {
    max-width: 800px;
    margin: auto;
    background: rgb(239, 239, 239);
    box-shadow: 0px 0px 20px rgba(13, 19, 33, 0.3);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
        "fej" 
        "s"
        "s"
        "s"
        "s"
        "f";
    border-radius:15px 15px 0px 0px;
}

.fejlec {
    grid-area: fej;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "h n";
    border-radius:15px 15px 0px 0px;
    
}

header {
    background: #0D1321;
    text-align: center;
    grid-area: h;
    height: 100px;
    line-height: 100px;
    border-radius:15px 0px 0px 0px;
}

.aheader {
    color: white;
    font-weight: 500;
    font-size: 40px;
    text-decoration: none;
}

nav {
    background-color: #748CAB;
    color: #0D1321;
    text-align: right;
    text-transform: uppercase;
    font-size: 14px;
    grid-area: n;
    height: 100px;
    line-height: 100px;
    padding-right: 40px;
    border-radius:0px 15px 0px 0px;
}

.anav {
    padding-inline: 5px;
    color: #0D1321;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
}

a:hover {
    color: rgb(173, 255, 105);
}

.secgrid {
  display: grid;
  grid-template-areas:
    "s1 s1 s1"
    "s2 s2 i1"
    "i2 s3 s3"
    "s4 s4 i3";
  gap: 1rem;
  max-width: 1080px;
  margin: auto;
  padding: 50px;
}

section.secgrid {
    grid-area: s;
    background: white;
    color: black;
    text-align:justify
}

.sec-1,
.sec-2,
.sec-3,
.sec-4 {
  padding: 0rem 1rem 1.5rem 1rem;
}

.sec-1 {
  grid-area: s1;
  text-align: left;
  margin-top: 20px;
}

.sec-2 {
  grid-area: s2; 
}

.sec-3 {
  grid-area: s3;
    margin-top: 40px;
}

.sec-4 {
  grid-area: s4;
  margin-top: 40px;
}


.img-1,
.img-2,
.img-3 {
    background-color: #e0e0e0;
    padding: 0rem;
    grid-area: l;
    position: relative;
    margin-inline: 15px;
}

.img-1 {
  grid-area: i1;
}

.img-2 {
  grid-area: i2;
  margin-top: 40px;
}

.img-3 {
  grid-area: i3;
  margin-top: 40px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0rem;
}

.img-label{
    position:absolute;
    right:0px;
    bottom:0px;
    padding-inline: 8px;
    padding-block: 3px;
    background-color: rgb(130, 203, 70);
    font-size: 12px;
    font-weight: 700;
    color:#fff;
}

h1{
    font-size: 22px;
    font-weight: 700;
    color: #0D1321;
}
h2{
    font-size: 16px;
    font-weight: 700;
    color:#748CAB;
    text-transform: uppercase;
}
h3{
    font-size: 14px;
    font-weight: 700;
    color:#3E5C76;
}





footer {
    grid-area: f;
    padding: 20px;
    background-color: #3E5C76;
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 16px;
}

@media screen and (max-width: 600px) {
    .secgrid {
        display: grid;
        grid-template-areas:
        "s1"
        "s2"
        "i1"
        "s3"
        "i2"
        "s4"
        "i3";
        padding: 10px;
        gap:1rem;
    }

    nav {
        display: block;
        text-align: center;
        line-height: normal;
        padding: 10px;
    }

    .divgrid {
        grid-template-columns: 1fr;
    }
}