* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    font-weight: 200;
    font-style: normal;
}

body {
    /*background: linear-gradient(30deg, hsla(120, 93%, 84%, 1) 0%, hsla(185, 90%, 51%, 1) 100%);*/
    background: linear-gradient(1deg, hsla(233, 100%, 90%, 1) 0%, hsla(0, 0%, 89%, 1) 100%);
}

.divgrid {
    max-width: 800px;
    margin: auto;
    background: rgb(239, 239, 239);
    box-shadow: 0px 0px 20px rgba(13, 19, 33, 0.3);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
        "fej" 
        "s"
        "s"
        "s"
        "s"
        "f";
}

.fejlec {
    grid-area: fej;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "h n";
}

header {
    background: #0D1321;
    text-align: center;
    grid-area: h;
    height: 100px;
    line-height: 100px;
}

#aheader {
    color: white;
    font-weight: 500;
    font-size: 40px;
    text-decoration: none;
}

nav {
    background-color: #748CAB;
    color: #0D1321;
    text-align: right;
    text-transform: uppercase;
    font-size: 14px;
    grid-area: n;
    height: 100px;
    line-height: 100px;
    padding-right: 40px;
}

.anav {
    padding-inline: 5px;
    color: #0D1321;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
}

a:hover {
    color: rgb(173, 255, 105);
}

section.secgrid {
    grid-area: s;
    background: white;
    color: black;
    text-align: center;
    font-weight: 100;
    font-size: 14px;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
        "l l l" 
        "l l kk"
        "kk l l"
        "l l kk";
}

.leiras {
    background-color: #f5f5f5;
    padding: 10px;
    grid-area: l;
}

.kepkocka {
    background-color: #e0e0e0;
    padding: 10px;
    grid-area: l;
}

.kepkocka img {
    width: 100%;
    height: auto;
    object-fit: cover;
    background-size: cover;
    background-position: center;
}

footer {
    grid-area: f;
    padding: 20px;
    background-color: #3E5C76;
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 16px;
}

@media screen and (max-width: 600px) {
    .secgrid {
        grid-template-columns: 1fr;
    }

    nav {
        display: block;
        text-align: center;
        line-height: normal;
        padding: 10px;
    }

    .divgrid {
        grid-template-columns: 1fr;
    }
}