* {
    padding: 0px;
    margin: 0px;
    /*alapértelmezett, conten box*/
    box-sizing: border-box;
    /*tartalom+padding+margin+border=x szélessége px)*/
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    border-radius: 0px 0px 5px 5px;
    
}


body {
   /*background: linear-gradient(90deg, hsla(192, 96%, 50%, 1) 0%, hsla(65, 92%, 54%, 1) 100%);*/
    background: linear-gradient(90deg, hsla(120, 93%, 84%, 1) 0%, hsla(185, 90%, 51%, 1) 100%); 
    
}

.divgrid {
    max-width: 800px;
    margin: auto;
    background: #EFF6E0;
    /*padding: 1rem;*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    /*gap: 16px;*/
    grid-template-areas: 
    "h n n " 
    "s s s"
    "s s s"
    "f f f" ;
}

header{
    background: #0D1321;
    color: #EFF6E0 !important;
    text-align: center;
    font-weight:700 !important;
    font-size: 36px !important;
    /*grid-column: 1 /3;*/
    grid-area: h;
    /*margin:5px 20px 0px 20px;*/
    padding:20px;
}

#aheader{
    color: #EFF6E0 !important;
    text-align: center;
    font-weight:700 !important;
    font-size: 36px !important;
}

nav{
    background-color: #748CAB;
    color: #0D1321;
    text-align:right;
    /*grid-column: 1 /3;*/
    text-transform: uppercase;
    font-size: 12px;
    grid-area: n;
    /*margin:0px 20px 0px 20px;*/
    padding:20px;

}

a{
    /*padding: 40px;*/
}

.lastlink {
    background-color: rgb(247, 31, 106);
    /*border: 2px solid #ffeb3b; /* yellow border */
    padding: 10px;
    display: inline-block;
    border-radius: 4px;

}

a:hover {
  color: hotpink;
}

section{
    grid-area: s;
    background: white;
    color: black !important;
    text-align: center;
    font-weight:100 !important;
    font-size: 16px !important;
    /*grid-column: 1 /3;*/
    margin:20px;
    padding:20px;
}

.secgrid {
    background-color: antiquewhite;
    padding: 1rem;
    min-height: 100vh;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 16px;
}

img {
    width:100%;
    height:100%;
    object-fit: cover;
    max-height: 250px;
}



article {
    display: grid;
    gap: 16px;
    /*grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);*/

}



.thumb {
    border: 2px solid rgb(109, 164, 146) ;
}

footer{
    grid-area: f;
    /*margin:5px 20px 0px 20px;*/
    padding:20px;
    background-color: #3E5C76;
    text-align: center;
    color:white;
    font: weight 400px;
    font-size: 16px;
    }



/*600 px alatt így jelenik meg a weboldalunk: (ami altta van formázás)*/
@media screen and (max-width: 600px) {
    article {
        grid-template-columns: 1fr;
    }
      nav {
        display: block;
    }
  .divgrid{
    grid-template-columns: repeat(2, 1fr);
    }

}